html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, button
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    border-style: solid;
	font-size: 100%;
	vertical-align: baseline;
}
/* html5 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 0.6em; }
h6 { font-size: 4.25em; }

b { font-weight: 900; }
a {cursor: crosshair; }




@font-face {
    font-family: CoreHumanist;
    src: url('../fonts/CoreHumanistSans.otf'),
}
  


* {
    color: white;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    flex-direction: column;
	font: inherit;
    font-family: 'Inter', sans-serif;
}
/* html {  overflow: auto; } */
body {
	line-height: 1;
    min-height: 100vh;
    background-color: rgb(10, 10, 10);
    height: 100%;
}




.container__main { min-height: 100%; }
main { overflow: auto; }
.main_content {
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: var(--footer-height);
}


.main_text {
    margin: 40px 10px;
}
.gray_text {
    color: hsl(0, 0%, 80%);
    margin: 24px 10px;
}
rect {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 24px;
}



.markdown {
    color: red;
    width: 100px;
    word-wrap: break-word;
}
code {
    background: black;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    width: 100%;
    height: var(--footer-height);
    bottom: 0; 
    left: 0;
    
    position: relative;
    margin-top: calc(var(--footer-height) * 1);
    clear: both;
    
    z-index: 1;
}
footer {
    border-radius: 8px;
    padding: 14px ;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
}




header {
    background: linear-gradient(90deg, hsl(0, 0%, 10%) 0%, hsl(0, 0%, 20%) 100%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 1px;
    padding-left: 46px;

    box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.4);
}
.logo_label { 
    color: red;
    font-size: 26px;
    padding: 16px 30px;
    font-family: 'Bebas Neue';
}




ul { /* Header list */
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
}
li { /* List item */   
    background-color: rgba(0, 0, 0, 0.5);
    height: var(--header-height);
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.7);
    margin-right: 10px;
    cursor: crosshair; 
}
li:hover a { /* List item */
    color: red;
}

li:last-child {
    margin-right: 0px;
}



.footer_li { /* List item */   
    border-radius: 6px;
    height: 40px;
    padding: 0 20px;
}





li a { /* List item label */
    text-decoration: none;
    color: gainsboro;
    font-size: 16px;
    transition: 0.2s;
}





button {
    background-color: rgba(0 ,0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
    border-color: black;
    border-width: 3px;
    transition: 0.2s;
    cursor: crosshair;
    transition: 0.2s;
}
button:hover { background-color: rgba(0 ,0, 0, 0.8);  color: red; }
button:after { 
    width: 100px;
    height: 100px;
 }





.home_image {
    height: 100svh;
    fill: white;
    background: transparent url(../images/bg1.png) no-repeat center;
    background-size: cover;
    backdrop-filter: blur(20px);
    overflow: hidden;
    z-index: -1;
}



.bg_filler0 {
   position: relative;
}
.bg_filler {
   position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 300px;
    z-index: -1;
}







@media screen and (max-width: 768px) {
    header nav { display: none; }
}